.Main{
    padding: 2.8125rem 5rem;
}
.Inputs-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width:685px){
    .Inputs-wrapper{
        flex-flow: column nowrap;
        gap: 3.75rem;
    }
    .Main{
        padding: 2.8125rem 2rem;
    }
}